/config.yaml
/DB_storge/
/client_secret_297858071256-6rfhu45a5m5gnfeg8qbi220segmfgevi.apps.googleusercontent.com.json
/token.json
/venv/
/ggg/
.idea/
*.iml
"ALL_TEXT_MSGS_IMPROVED (3).txt"
change_map.json
map_changes.py

# Python
__pycache__/
*.py[cod]
*$py.class

# OS
.DS_Store

# Rust
.rust/

# Temporary files
test_prof.json
текщая_версия_прод_базы/
.DS_Store
docs/report_coins_barter_bot.md
DB_storge_for_test/
